# Environment and secrets
.env
secrets/
*.json

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/

# Virtual environments
venv/
.venv/

# Model weights (too large for GitHub)
*.pt
*.pth
*.onnx
runs/

# Data (too large for GitHub)
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Wandb
wandb/
.streamlit/secrets.toml
